<div class="wp-nav-menu-bg" [@openClose]="isOpen ? 'open' : 'closed'">
</div>

<section *ngIf="isOpen" class="wp-nav-menu">
  <nav class="wp-nav-links">
    <ul>
      <li *ngFor="let link of mainLinks">
        <a *ngIf="!link.isAsset" (click)="shouldClose.emit()" [routerLink]="link.href">{{ link.text }}</a>
        <a *ngIf="link.isAsset" [href]="link.href">{{ link.text }}</a>
      </li>
    </ul>
  </nav>
  <nav class="wp-nav-secondary-links">
    <ul>
      <li *ngFor="let link of secondaryLinks">
        <a *ngIf="!link.isAsset" (click)="shouldClose.emit()" [routerLink]="link.href">{{ link.text }}</a>
        <a *ngIf="link.isAsset" [href]="link.href">{{ link.text }}</a>
      </li>
    </ul>
  </nav>
  <footer class="wp-footer">
    <wp-footer-inner [inverseColors]="true"></wp-footer-inner>
  </footer>
</section>
