@import 'index.scss';

.wp-nav-menu,
.wp-nav-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $nav-bar-menu-z-index;

  width: 100%;
  height: 100vh;
}

.wp-nav-menu-bg {
  background-color: $red-A200;
  pointer-events: none;
}

.wp-nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; 

  > ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    > li {
      margin-bottom: 24px;

      > a {
        @include wp-focusable;

        @include rubik-bold;
        font-size: $wp-fs-xlg;
        letter-spacing: 2px;
        color: $white;

        &::after {
          display: block;
          content: '';
          margin-top: 3px;
          width: 0;
          height: 3px;
          background-color: $white;
          transition: width $wp-tick;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }

      @include wp-media(md) {
        margin-bottom: 36px;

        > a {
          font-size: $wp-fs-xxlg;
          letter-spacing: 4px;
        }
      }
    }
  }
}

.wp-nav-secondary-links {
  position: absolute;
  top: 0;
  left: 0;

  > ul {
    padding: 20px 0;
    display: flex;

    > li {
      padding: 0 20px;

      ~ li {
        border-left: 2px solid $white;
      }

      > a {
        @include wp-focusable;
        
        color: $white;

        &::after {
          display: block;
          content: '';
          margin-top: 3px;
          width: 0;
          height: 2px;
          background-color: $white;
          transition: width $wp-tick;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.wp-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
