@import 'index.scss';

.wp-nav-menu,
.wp-nav-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.wp-nav-menu-bg {
  background-color: $red-500;
  pointer-events: none;
}

.wp-nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; 

  > ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    > li {
      margin-bottom: 28px;

      > a {
        @include exo-semibold;
        font-size: $wp-fs-xxlg;
      }
    }
  }
}
