<wp-app-layout>
  <section class="wp-about -pb-2xl">
    <div class="wp-container">
      <h1 class="wp-title -py-xl">ABOUT</h1>
      <div class="wp-row -pb-xl">
        <div class="wp-skill-chart-wrap wp-col -xs12">
          <div class="wp-skill-chart-symbol -pr-lg__lg -pl-xl__lg">&#60;&#47;</div>
          <div class="wp-skill-chart">
            <wp-skill-chart [skills]="skills"></wp-skill-chart>
          </div>
          <div class="wp-skill-chart-symbol -pl-lg__lg -pr-xl__lg">&#62;</div>
        </div>
      </div>
      <div class="wp-row">
        <div class="wp-img-wrap wp-col -xs12 -sm8 -md5 -lg4 -pb-xl -pb-0__lg">
          <div class="wp-img -aspect-1x1" [style.background-image]="'url(/assets/images/me/me.jpg)'"></div>
        </div>
        <div class="wp-text wp-col -xs12 -lg7 -lg-offset1">
          <h2 class="wp-bio-title">Hello,</h2>
          <p>I'm mostly self-taught, beginning early in high-school when I fell in love with the idea of coding video games. I taught myself Java and latter C/Objective-C so that I could publish my games on the App Store.<br><br>After high-school, I went straight into the CS program at Purdue. I Studied there for about 2 years before applying to App Academy, a coding bootcamp in SF. After their very intensive course, I was able to land a job at Google as a web developer for their AdWords platform.<br><br>A little over a year ago, I made the move to Denver to be closer to friends/family. I now work for Transamerica, where I've spent most of my time heading up the front-end for their public sites.</p>
        </div>
      </div>
    </div>
  </section>
</wp-app-layout>
