<wp-app-layout>
  <section class="wp-about">
    <div class="wp-container">
      <h1 class="wp-title">ABOUT</h1>
      <div class="wp-row">
        <div class="wp-img-wrap wp-col -xs12 -lg4">
          <div class="wp-img" [style.background-image]="'url(/assets/images/articles/mock-article-0.jpg)'" alt="Wil Pirino">
            <svg class="wp-slant" viewBox="0 0 1 1" preserveAspectRatio="none">
              <polygon points="0 0, 1 0, 1 1"></polygon>
            </svg>
          </div>
        </div>
        <div class="wp-col -xs12 -lg8">
          <div class="wp-text">
            <h2 class="wp-job-title">Sr Distributed Developer at Transamerica</h2>
            <h3 class="wp-location">Denver, CO</h3>
            <p>I'm mostly self-taught, beginning early in high-school when I fell in love with the idea of coding video games. I taught myself Java and latter C/Objective-C so that I could publish my games on the App Store.<br><br>After high-school, I went straight into the CS program at Purdue. I Studied there for about 2 years before applying to App Academy, a coding bootcamp in SF. After their very intensive course, I was able to land a job at Google as a web developer for their AdWords platform.<br><br>A little over a year ago, I made the move to Denver to be closer to friends/family. I now work for Transamerica, where I've spent most of my time heading up the front-end for their public sites.</p>
          </div>
        </div>
      </div>
      <div class="wp-row">
        <div class="wp-skill-chart-text wp-col -xs12 -lg6">
          <p>Here is some text explaining what my skills are.</p>
        </div>
        <div class="wp-skill-chart-wrap wp-col -xs12 -lg6">
          <div class="wp-skill-chart">
            <wp-skill-chart [skills]="skills"></wp-skill-chart>
          </div>
        </div>
      </div>
    </div>
  </section>
</wp-app-layout>
