@import 'index.scss';

.wp-title {
  @include h1;
  text-align: center;  
}

.wp-img-wrap {
  > .wp-img {
    background-size: cover;
    background-position: 50% 0%;
    border-radius: 50%;
  }
}

.wp-text {
  font-size: 24px;
  line-height: 28px;

  > .wp-bio-title {
    @include open-sans-semibold;
    font-size: 28px;
    padding-bottom: 8px;
  }

  > p {
    padding-top: 1em;
  }
}

.wp-skill-chart-text {
  @include open-sans-light;
  font-size: 18px;
  line-height: 24px;
}

.wp-skill-chart-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .wp-skill-chart {
    position: relative;
    width: 100%;
    height: 50vw;
    max-height: 500px;
  }

  > .wp-skill-chart-symbol {
    font-size: 100px;

    @include wp-media(sm) {
      font-size: 200px;
    }

    @include wp-media(lg) {
      font-size: 300px;
    }
  }
}
