@import 'index.scss';

$bg-color: $grey-200;

.wp-projects {
  padding-bottom: 128px;
}

.wp-title {
  @include h1;
  text-align: center;  
}

.wp-project-item {
  
}

.wp-project-img {
  position: relative;
  padding-top: 100%;
  background-size: cover;
  background-position: 50% 50%; 
}

.wp-project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: $bg-color;
  opacity: 0;
  transition: opacity $wp-tick * 2;

  &:hover {
    opacity: 1;
  }
}

.wp-project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wp-project-name {
  padding-bottom: 4px;

  @include open-sans-semibold;
  font-size: $wp-fs-lg;
}

.wp-project-skills {
  padding-bottom: 48px;

  @include open-sans-italic;
  font-size: $wp-fs-md;
  color: $pink-A400;
}

.wp-project-links {
  display: flex;

  > a {
    @include wp-btn($pink-A400, $bg-color);

    min-width: 48px;
    margin-right: 12px;
    ~ a { margin-right: 0; }
  }
}
