<wp-hero [imgUrl]="heroImgUrl"></wp-hero>
<section>
  <form class="wp-contact-form wp-container">
    <fieldset>
      <label>Your Name (required)</label>
      <input type="text" />
    </fieldset>
    <fieldset>
      <label>Your Email (required)</label>
      <input type="email" />
    </fieldset>
    <fieldset>
      <label>Subject</label>
      <input type="text" />
    </fieldset>
    <fieldset>
      <label>Message</label>
      <textarea></textarea>
    </fieldset>
    <button type="submit">SEND</button>
  </form>
</section>
