<wp-app-layout>
  <section class="wp-contact">
    <h1 class="wp-title">CONTACT</h1>
    <form class="wp-contact-form wp-container">
      <div class="wp-row">
        <div class="wp-col -xs12 -md-offset3 -md6">
          <fieldset>
              <label>NAME</label>
              <input type="text" />
            </fieldset>
            <fieldset>
              <label>EMAIL</label>
              <input type="email" />
            </fieldset>
            <fieldset>
              <label>SUBJECT</label>
              <input type="text" />
            </fieldset>
            <fieldset>
              <label>MESSAGE</label>
              <textarea></textarea>
            </fieldset>
            <button type="submit">SEND</button>
        </div>
      </div>
    </form>
  </section>
</wp-app-layout>
