@import 'index.scss';

$bg-color: $grey-100;

.wp-contact {
  padding-bottom: 128px;
  background-color: $bg-color;
}

.wp-title {
  @include h1;
  text-align: center;
}

.wp-contact-form {
  fieldset {
    padding-bottom: 32px;

    > label {
      display: block;
      padding-bottom: 12px;

      @include open-sans-semibold;
      color: $grey-600;
      font-size: $wp-fs-sm;
    }

    > input,
    > textarea {
      display: block;
      width: 100%;
      height: $wp-fs-md * 1.5;
      line-height: $wp-fs-md * 1.5;
      font-size: $wp-fs-md;
      border: 1px solid $grey-400;
    }

    > textarea {
      height: 32px * 6;
    }
  }

  button[type="submit"] {
    @include wp-btn-secondary($pink-A400, $bg-color)
  }
}
