@import 'colors.scss';
@import 'z-depth.scss';
@import 'breakpoints.scss';
@import 'fonts.scss';
@import 'font-sizes.scss';

.wp-nav-placeholder {
  height: 76px; // measured, keep up-to-date
}

.wp-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;

  background-color: $white;
  @include z-depth(2);
}

.wp-nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wp-logo {
  @include ps2p;
  font-size: 28px;

  > a {
    text-decoration: none;
  }
}

.wp-links {
  display: none;

  @include exo-semibold;

  @include wp-media(md) {
    display: flex;
  }
}

.wp-link-item {
  font-size: 20px;
  margin-left: 48px;

  > a {
    text-decoration: none;
  }
}

.wp-links-mobile {
  display: block;
  font-size: 20px;

  > a {
    text-decoration: none;
  }

  @include wp-media(md) {
    display: none;
  }
}
