<header class="wp-nav">
  <div class="wp-nav-inner wp-container">
    <span class="wp-logo">
      <a routerLink="/">Wil Pirino</a>
    </span>
    <nav>
      <ul class="wp-links">
        <li class="wp-link-item"><a routerLink="/about">ABOUT</a></li>
        <li class="wp-link-item"><a href="/assets/resumes/resume.pdf">RESUME</a></li>
        <li class="wp-link-item"><a routerLink="/contact">CONTACT</a></li>
      </ul>
      <div class="wp-links-mobile">
        <a href="#"><i class="wp-icon-hamburger"></i></a>
      </div>
    </nav>
  </div>
</header>
<div class="wp-nav-placeholder"></div>
