<div class="wp-footer-inner wp-container" [ngClass]="{'-inverse-colors': inverseColors}">
  <span class="wp-copyright">© 2019 Wil Pirino.</span>
  <nav>
    <ul class="wp-social-links">
      <li *ngFor="let link of links" class="wp-social-link-item">
        <a *ngIf="link.isExternal" [href]="link.href">
          <i [ngClass]="'wp-icon-' + link.icon"></i>
        </a>
        <a *ngIf="!link.isExternal" [routerLink]="link.href">
          <i [ngClass]="'wp-icon-' + link.icon"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
