@import 'index.scss';

.wp-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $nav-bar-z-index;

  display: flex;
  justify-content: flex-end;

  pointer-events: none;
}

.wp-logo {
  @include open-sans-semibold;
  font-size: $wp-fs-xlg;
}

.wp-hamburger {
  @include wp-focusable;

  margin-top: 20px;
  width: 64px;
  height: 64px;

  font-size: $wp-icon-fs-lg;
  color: $black;

  background-color: $white;
  border-radius: 50%;

  pointer-events: all;

  &.-open {
    color: $white;
    background-color: transparent;
  }
}
