@import 'index.scss';

.wp-nav-bar-placeholder {
  height: 76px; // measured, keep up-to-date
}

.wp-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;

  background-color: $white;
  @include z-depth(2);
}

.wp-nav-bar-inner {
  position: relative;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wp-logo {
  @include ps2p;
  font-size: 28px;
}

.wp-hamburger {
  font-size: $wp-icon-fs-md;
}
