@import 'index.scss';

.wp-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $nav-bar-z-index;

  display: flex;
  justify-content: flex-end;

  pointer-events: none;
}

.wp-logo {
  @include open-sans-semibold;
  font-size: $wp-fs-xlg;
}

.wp-hamburger {
  margin-top: 20px;

  font-size: $wp-icon-fs-lg;
  transition: color $wp-tick;

  pointer-events: all;
}
