<wp-app-layout>
  <section class="wp-blog">
    <div class="wp-container">
      <h1 class="wp-title">BLOG</h1>
      <ul class="wp-row">
        <li *ngFor="let article of articles" class="wp-col -sm12 -md6 -lg3">
          <div class="wp-article-item">
            <div class="wp-article-img" [style.background-image]="'url(' + article.imgUrl + ')'"></div>
            <div class="wp-article-title">{{ article.title }}</div>
            <div class="wp-article-date">{{ article.publishDate }}</div>
            <div class="wp-article-teaser">{{ article.teaserText }}</div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</wp-app-layout>
