@import 'index.scss';

$bg-color: $blue-grey-900;

.wp-home {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: $bg-color;
  color: $white;
}

.wp-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wp-text {
  @include black-han-sans;
  font-size: $wp-fs-lg;
  text-align: center;
  line-height: 1.25;

  @include wp-media(sm) {
    font-size: $wp-fs-xlg;
  }

  @include wp-media(md) {
    font-size: $wp-fs-xxlg;
  }
}

.wp-highlighted-text {
  color: $pink-A400;
  font-style: italic;
}

.wp-link {
  @include wp-btn($white, $bg-color);

  margin-top: 12px;
  @include wp-media(sm) { margin-top: 20px; }
}
