@mixin h1 {
  font-size: $wp-fs-xxlg;
  @include rubik-bold;

  &::after {
    display: block;
    content: '';
    width: 128px;
    margin: 0 auto;
    padding-top: 8px;
    border-bottom: 3px solid $black;
  }
}
